<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h3>My favorite TV shows</h3>
      <ul>
          <li><%= tvshow1 %></li>
          <li><%= tvshow2 %></li>
          <li><%= tvshow3 %></li>
          <li><%= tvshow4 %></li>
      </ul>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>